
Servicios.WebApi/bin/

Servicios.WebApi/obj/

Servicios.BusinessLogic/bin/

Servicios.BusinessLogic/obj/

Servicios.Common/bin/

Servicios.Common/obj/

Servicios.DataAccess/bin/

Servicios.DataAccess/obj/

Servicios.Models/bin/

Servicios.Models/obj/

Servicios.UnitOfWork/bin/

Servicios.UnitOfWork/obj/

.vs/ServiciosCore/

Servicios.Repositories/bin/

Servicios.Repositories/obj/

ServiciosBussinesLogicTest/bin/

ServiciosBussinesLogicTest/obj/
